html,
body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}


#container1 {
  height: 400px;
  width: 50%;
  border: 1px solid gray;
  background-color: snow;
  display: flex;
  padding: inherit;
}
#temptext2 {
  text-align: center;
  padding: 150px;
  font-size: x-large;
}

#temptext1 {
  text-align: center;
  font-size: x-large;
}
